{% extends "mvp/base.html" %}
{% block title %}Submissions{% endblock %}

{% block content %}

{% load static %}
{% load status %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<!-- semantic UI -->
<link rel="stylesheet" type='text/css'
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
<!--Chart js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<form action="" method="post">
    {% csrf_token %}

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Vertical...</p>
                        <p class="subtitle">Top tile</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">...tiles</p>
                        <p class="subtitle">Bottom tile</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Middle tile</p>
                        <p class="subtitle">With an image</p>
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/640x480.png">
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Wide tile</p>
                    <p class="subtitle">Aligned with the right tile</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Tall tile</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
        </div>
    </div>


</form>

{% endblock content%}

{% block scripts %}
<script>
                            $(document).ready(function(){
                            var ctx = document.getElementById('myChart').getContext('2d');
                                    var myChart = new Chart(ctx, {
                                        type: 'pie',
                                        data: {
                                            labels: ['Total number of records', 'Completed', 'In Progress', 'Help Needed', 'Total number of US records', 'Total number of PH records', 'Total number of India records'],
                                            datasets: [{
                                                label: 'Analytics',
                                                data: [{{total}}, {{completed}}, {{inprogress}}, {{helpneeded}}, {{us}}, {{ph}},{{ind}}],
                                                backgroundColor: [
                                                    'white',
                                                    'red',
                                                    'black',
                                                    'blue',
                                                    'yellow',
                                                    'green'
                                                ],
                                                borderColor: [
                                                    'white',
                                                    'red',
                                                    'black',
                                                    'blue',
                                                    'yellow',
                                                    'green'
                                                ],
                                                borderWidth: 1
                                            }]
                                        },

                                    });
                                                                });







</script>
{% endblock scripts %}
