{% extends "mvp/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

{% load static %}
<nav>
    <div class="level-left">
        <div class="content has-text-centered">
            <p><a href="{% url 'hello_mvp'  %}">Go back to Home page</a>.
            </p>
        </div>
    </div>
    <div class="level-right">
        <div class="content has-text-centered">
            <p><a href="{% url 'hello_mvp'  %}">Submitted Tasks</a>.
            </p>
        </div>
    </div>
</nav>

{% for post in posts %}
<div class="card">
    <div class="card-content">
        <p class="title">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">


            <tr>
                <th>{{ "Request ID" }}</th>

                {% if 'omplete' in post.Status%}
                <td>
                    {{complete}}
                </td>
                {% else %}
                <td>
                    {{post.Status}}
                </td>
                {% endif%}

                <!--                <td>{{ post.Status|slice:"0:17" }}</td>-->
            </tr>
            <tr>
                <th>{{ "User ID" }}</th>
                <td>{{ post.user_ID }}</td>
            </tr>
            <tr>
                <th>{{ "Start Date" }}</th>
                <td>{{ post.Start_Date }}</td>
            </tr>
            <tr>
                <th>{{ "Start Time" }}</th>
                <td>{{ post.Start_Time }}</td>
            </tr>
            <tr>
                <th>{{ "End Date" }}</th>
                <td>{{ post.End_Date }}</td>
            </tr>
            <tr>
                <th>{{ "End Time" }}</th>
                <td>{{ post.End_Time }}</td>
            </tr>
            <tr>
                <th>{{ "Activity" }}</th>
                <td>{{ post.Activity|default:"-" }}</td>
            </tr>
            <tr>
                <th>{{ "Multiplicator / OverTime" }}</th>
                <td>{{ post.Mul_Over|default:"-" }}</td>
            </tr>
            <tr>
                <th>{{ "Break Time" }}</th>
                <td>{{ post.BreakTime|default:"-" }}</td>
            </tr>
            <tr>
                <th>{{ "Status" }}</th>
                {% if 'omplete' in post.Status %}
                <td>Complete</td>
                >
                {% else %}
                <td>In Progress</td>
                {% endif %}
            </tr>
            <tr>
                <th>{{ "Campaign" }}</th>
                <td>{{ post.Campaign|default:"-" }}</td>
            </tr>

            <tr>
                <th>{{ "Created At" }}</th>
                <td>{{ post.created_at }}</td>
            </tr>


        </table>
        </p>
    </div>
</div>
{%endfor%}

<div class="field is-grouped is-grouped-centered">
    {% if posts.paginator.num_pages > 1 %}

    {% if posts.has_previous %}
    <p class="control">
        <a class="button is-link is-rounded"
           href="?page={{ posts.previous_page_number }}">Previous</a>
    </p>
    {% endif %}

    <!--    <ul class="pagination-list">-->
    <!--        {% if posts.number != 1 %}-->
    <!--        <li>-->
    <!--            <a class="pagination-link is-current" aria-label="Page current" aria-current="page" href="?page={{ posts.posts.number }}">{{posts.number}}</a>-->
    <!--        </li>-->

    <!--        {% else %}-->
    <!--        <li>-->
    <!--            <a class="pagination-link" aria-label="Goto page 1" href="?page={{ 1 }}">1</a>-->
    <!--        </li>-->

    <!--        {% endif %}-->


    <!--        {% if posts.number != posts.paginator.num_pages %}-->
    <!--        {% if posts.number != 1 %}-->
    <!--        <li>-->
    <!--            <span class="pagination-ellipsis">&hellip;</span>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <a class="pagination-link is-current" aria-label="Page current" aria-current="page" href="?page={{ posts.posts.number }}">{{posts.number}}</a>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <span class="pagination-ellipsis">&hellip;</span>-->
    <!--        </li>-->
    <!--        {% endif %}-->
    <!--        {% endif %}-->

    <!--        {% if posts.number == posts.paginator.num_pages %}-->

    <!--        <li>-->
    <!--            <a class="pagination-link is-current" aria-label="Page current" aria-current="page" href="?page={{ posts.paginator.num_pages }}">{{posts.paginator.num_pages}}</a>-->
    <!--        </li>-->
    <!--        {% else %}-->

    <!--        <li>-->
    <!--            <a class="pagination-link" aria-label="Goto page last page" href="?page={{ posts.number }}">{{posts.number}}</a>-->
    <!--        </li>-->
    <!--        {% endif %}-->

    <!--    </ul>-->


    {% if posts.has_next %}
    <p class="control">
        <a class="button is-link is-rounded" href="?page={{ posts.next_page_number }}">Next</a>
    </p>
    {% endif %}

    {% endif %}
</div>

<!--</nav>-->

{% endblock %}
