{% extends "mvp/base.html" %}
{% block title %}Submissions{% endblock %}

{% block content %}

{% load static %}
{% load status %}
<form action="" method="post">
    {% csrf_token %}
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Start Date</p>
                <input type="date" id="start_date" name="trip-start"
                       value={{st_d}}
                       min="2020-10-26" max="2025-12-31">
            </div>
        </div>

        <div class="level-item has-text-centered">
            <div>
                <p class="heading">End Date</p>
                <input type="date" id="end_date" name="trip-end"
                       value={{end_date}}
                       min="2020-10-26" max="2025-12-31">
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Submit</p>
                <button class="button is-info is-rounded" type="submit" name="date_search">Submit</button>
            </div>
        </div>

    </nav>


    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="centered-is-widescreen">
                    <!--<nav>
                        <p><strong>Total number of records: </strong>{{total}}</p>
                        <p><strong>Completed: </strong>{{completed}}</p>
                        <p><STRONG>In progress: </STRONG>{{inprogress}}</p>
                        <p><strong>Help Needed: </strong>{{helpneeded}}</p>
                        <p><strong>Failed: </strong>{{failed}}</p>
                        <p><STRONG>Total Number of US requests: </STRONG>{{us}}</p>
                        <p><strong>Total Number of IND requests: </strong>{{ind}}</p>
                        <p><strong>Total Number of PH requests: </strong>{{ph}}</p>


                    </nav>-->

                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Total number of records</p>
                                <p class="title">{{total}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Completed</p>
                                <p class="title">{{completed}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">In Progress</p>
                                <p class="title">{{inprogress}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Help Needed</p>
                                <p class="title">{{helpneeded}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Failed</p>
                                <p class="title">{{failed}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Total US requests</p>
                                <p class="title">{{us}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Total IND requests</p>
                                <p class="title">{{ind}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Total PH requests</p>
                                <p class="title">{{ph}}</p>
                            </div>
                        </div>
                    </nav>


                </div>
            </div>
        </article>
    </div>

    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="centered-is-widescreen">
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <p><a href="{% url 'hello_mvp'  %}">Home</a>
                            </p>
                        </div>

                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">
                                    <strong>Please enter the Request Ids to search</strong>
                                </p>
                                <p class="control">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input class="input" type="text" name="key" placeholder="WFM-IRA-##">
                                    </div>
                                    <div class="control">
                                        <button class="button is-info is-rounded" type="submit"
                                        value="Search"
                                        name="search">
                                            Search
                                        </button>
                                    </div>
                                </div>
                                <!--<input class="input" type="text" name="key"
                                       placeholder="WFM-IRA-##">
                            <button class="button is-info is-rounded" type="submit"
                                        value="Search"
                                        name="search">Search
                                </button>-->
                                </p>
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </article>
    </div>

    {% if posts %}

    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th><abbr title="Request ID">Request ID</abbr></th>
                            <th><abbr title="User ID">User ID</abbr></th>
                            <th><abbr title="Start Date">Start Date</abbr></th>
                            <th><abbr title="Start Time">Start Time</abbr></th>
                            <th><abbr title="End Date">End Date</abbr></th>
                            <th><abbr title="End Time">End Time</abbr></th>
                            <th><abbr title="Activity">Activity</abbr></th>
                            <th><abbr title="Multiplicator / OverTime">Multiplicator / OverTime</abbr></th>
                            <!--                            <th><abbr title="Break Time">Break Time</abbr></th>-->
                            <th><abbr title="Status">Status</abbr></th>
                            <th><abbr title="Campaign">Campaign</abbr></th>
                            <th>Created At (UTC)</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th><abbr title="Request ID">Request ID</abbr></th>
                            <th><abbr title="User ID">User ID</abbr></th>
                            <th><abbr title="Start Date">Start Date</abbr></th>
                            <th><abbr title="Start Time">Start Time</abbr></th>
                            <th><abbr title="End Date">End Date</abbr></th>
                            <th><abbr title="End Time">End Time</abbr></th>
                            <th><abbr title="Activity">Activity</abbr></th>
                            <th><abbr title="Multiplicator / OverTime">Multiplicator / OverTime</abbr></th>
                            <!--                            <th><abbr title="Break Time">Break Time</abbr></th>-->
                            <th><abbr title="Status">Status</abbr></th>
                            <th><abbr title="Campaign">Campaign</abbr></th>
                            <th>Created At</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        {% for post in posts %}
                        <tr>
                            <th>{{ post.Name}}</th>
                            <td>{{ post.user_ID}}
                            </td>
                            <td>{{ post.Start_Date }}</td>
                            <td>{{ post.Start_Time }}</td>
                            <td>{{ post.End_Date }}</td>
                            <td>{{ post.End_Time }}</td>
                            <td>{{ post.Activity|default:"-" }}</td>
                            <td>{{ post.Mul_Over|default:"-" }}</td>
                            <!--                            <td>{{ post.BreakTime|default:"-" }}</td>-->
                            {% if 'Complete' in post.Status %}
                            <div class="has-text-info">
                                <td class="has-text-success">Complete</td>
                            </div>
                            {% elif 'Help Needed' in post.Status %}
                            <div class="has-text-info">
                                <td class="has-text-danger">Help Needed</td>
                            </div>
                            {% else %}
                            <div class="has-text-danger">
                                <td class="has-text-info">In Progress</td>
                            </div>
                            {% endif %}
                            <td>{{ post.Timezone|default:"-" }}</td>
                            <td>{{ post.created_at }}</td>


                        </tr>

                        {%endfor%}
                        </tbody>
                    </table>

                </div>
            </div>
        </article>
    </div>
    {% else %}

    <div class="card">
        <div class="card-content">
            <p class="title">
                {{ "Search results shows nothing!"}}
            </p>

        </div>

    </div>
    {% endif %}

    <div class="field is-grouped is-grouped-centered">
        {% if posts.paginator.num_pages > 1 %}

        {% if posts.has_previous %}
        <p class="control">
            <a class="button is-link is-rounded"
               href="?page={{ posts.previous_page_number }}">Previous</a>
        </p>
        {% endif %}

        {% if posts.has_next %}
        <p class="control">
            <a class="button is-link is-rounded" href="?page={{ posts.next_page_number }}">Next</a>
        </p>
        {% endif %}

        {% endif %}
    </div>
    </div>
    <!--</nav>-->
</form>

<script type="text/javascript">

var today = new Date();
var dd = today.getDate();

var mm = today.getMonth()+1;
var yyyy = today.getFullYear();
if(dd<10)
{
    dd='0'+dd;
}

if(mm<10)
{
    mm='0'+mm;
}
today = yyyy+'-'+mm+'-'+dd;
document.getElementById('end_date').value = today;

</script>
{% endblock %}
