{% extends "mvp/base.html" %}
{% block title %}Help Needed{% endblock %}

{% block content %}

{% load static %}
{% load status %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

<form action="" method="post">
    {% csrf_token %}

    <div class="container has-text-centered">
        <p class="title">
            Please select the completed records and click on submit
        </p>
        <p class="subtitle">

        </p>
    </div>

    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="centered-is-widescreen">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                                <p><a href="{% url 'hello_mvp'  %}">Home</a>
                                </p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item has-text-centered">
                                <p><a href="{% url 'data_view'  %}">Submissions</a>
                                </p>
                            </div>
                        </div>


                    </nav>

                </div>
            </div>

        </article>
    </div>

    {% if posts %}

    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <table id="bulma_table" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th><abbr title="Request ID">Request ID</abbr></th>
                            <th><abbr title="User ID">User ID</abbr></th>
                            <th><abbr title="Start Date">Start Date</abbr></th>
                            <th><abbr title="Start Time">Start Time</abbr></th>
                            <th><abbr title="End Date">End Date</abbr></th>
                            <th><abbr title="End Time">End Time</abbr></th>
                            <th><abbr title="Activity">Activity</abbr></th>
                            <th><abbr title="Multiplicator / OverTime">Multiplicator / OverTime</abbr></th>
                            <!--<th><abbr title="Requested By">Requested By</abbr></th>-->
                            <th><abbr title="Status">Status</abbr></th>
                            <th><abbr title="Campaign">Campaign</abbr></th>
                            <th>Created At (UTC)</th>
                            <th>Select</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th><abbr title="Request ID">Request ID</abbr></th>
                            <th><abbr title="User ID">User ID</abbr></th>
                            <th><abbr title="Start Date">Start Date</abbr></th>
                            <th><abbr title="Start Time">Start Time</abbr></th>
                            <th><abbr title="End Date">End Date</abbr></th>
                            <th><abbr title="End Time">End Time</abbr></th>
                            <th><abbr title="Activity">Activity</abbr></th>
                            <th><abbr title="Multiplicator / OverTime">Multiplicator / OverTime</abbr></th>
                            <!--<th><abbr title="Requested By">Requested By</abbr></th>-->
                            <th><abbr title="Status">Status</abbr></th>
                            <th><abbr title="Campaign">Campaign</abbr></th>
                            <th>Created At</th>
                            <th>Select</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        {% for post in posts %}
                        <tr>
                            <th>{{ post.Name}}</th>
                            <td>{{ post.user_ID}}
                            </td>
                            <td>{{ post.Start_Date }}</td>
                            <td>{{ post.Start_Time }}</td>
                            <td>{{ post.End_Date }}</td>
                            <td>{{ post.End_Time }}</td>
                            <td>{{ post.Activity|default:"-" }}</td>
                            <td>{{ post.Mul_Over|default:"-" }}</td>
                            <!--<td>{{ post.BreakTime|default:"-" }}</td>-->
                            {% if 'Complete' in post.Status %}
                            <div class="has-text-info">
                                <td class="has-text-success">Complete</td>
                            </div>
                            {% elif 'Help Needed' in post.Status %}
                            <div class="has-text-info">
                                <td class="has-text-danger">Help Needed</td>
                            </div>
                            {% else %}
                            <div class="has-text-danger">
                                <td class="has-text-info">In Progress</td>
                            </div>
                            {% endif %}
                            <td>{{ post.Timezone|default:"-" }}</td>
                            <td>{{ post.created_at }}</td>
                            <td><label class="checkbox">
                                <input type="checkbox" name="chex_{{post.id}}${{post.Name}}">
                            </label></td>


                        </tr>

                        {%endfor%}
                        </tbody>
                    </table>

                </div>
            </div>
        </article>
    </div>
    {% else %}

    <div class="card">
        <div class="card-content">
            <p class="title">
                {{ "Search results shows nothing!"}}
            </p>

        </div>

    </div>
    {% endif %}

    <div class="field is-grouped is-grouped-centered">
        <p class="control">
        <div class="content has-text-centered">
            <button class="button is-info is-rounded">Submit</button>
        </div>
        </p>
    </div>
    <!--</nav>-->
</form>

{% endblock %}
