{% extends "mvp/base.html" %}
{% block title %}Upload via CSV{% endblock %}

{% block content %}

<body>
{% if messages %}
<ul class="notification">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|safe }}
    </li>
    {% endfor %}
</ul>
{% else %}
<ul class="notification">
    <li>
        {{order}}
    </li>
</ul>


<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <div class="container">
                    <!--    <div class="notification is-primary">-->
                    <div class="field is-grouped">
                        <form action="" method="POST" enctype="multipart/form-data">

                            <div class="field is-grouped">
                                <div class="control">
                                    {% csrf_token %}
                                    {% load static %}
                                    <input class='input is-info' type="file" id="file1" name="file">
                                </div>


                                <div class="control">
                                    <button class="button is-info" type="submit">Upload</button>
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>
    </article>
</div>

{% endif %}
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="centered-is-widescreen">
                <!--<nav>
                    <p><strong>Total number of records: </strong>{{total}}</p>
                    <p><strong>Completed: </strong>{{completed}}</p>
                    <p><STRONG>In progress: </STRONG>{{inprogress}}</p>
                    <p><strong>Help Needed: </strong>{{helpneeded}}</p>
                    <p><strong>Failed: </strong>{{failed}}</p>
                    <p><STRONG>Total Number of US requests: </STRONG>{{us}}</p>
                    <p><strong>Total Number of IND requests: </strong>{{ind}}</p>
                    <p><strong>Total Number of PH requests: </strong>{{ph}}</p>


                </nav>-->

                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Home</p>
                            <a class="bd-notification is-primary"
                               href="{% url 'hello_mvp'  %}">Home Page</a>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Submissions</p>
                            <a class="bd-notification is-primary"
                               href="{% url 'data_view'  %}">Submissions
                                Page</a>
                        </div>
                    </div>
                    {% load static %}
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Click here to download OT csv</p>
                            <a
                                    href="{% static 'mvp_app/Template - OverTime Plotting - Sheet1.csv' %}" download>OT
                                template</a>
                        </div>
                    </div>
                    {% load static %}
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Click here to download TeleOpti csv</p>
                            <a
                                    href="{% static 'mvp_app/Template - TeleOpti Plotting - Sheet1.csv' %}" download>TeleOpti
                                template</a>
                        </div>
                    </div>
                    {% load static %}
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Click here to download uploaded file</p>
                            <a
                                    href="{% static 'mvp_app/submission_results.csv' %}" download>Submitted
                                results</a>
                        </div>
                    </div>


                </nav>


            </div>
        </div>
    </article>
</div>


<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <table id="bulma_table" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th><abbr title="Request ID">Request ID</abbr></th>
                        <th><abbr title="User ID">User ID</abbr></th>
                        <th><abbr title="Start Date">Start Date</abbr></th>
                        <th><abbr title="Start Time">Start Time</abbr></th>
                        <th><abbr title="End Date">End Date</abbr></th>
                        <th><abbr title="End Time">End Time</abbr></th>
                        <th><abbr title="Activity">Activity</abbr></th>
                        <th><abbr title="Multiplicator / OverTime">Multiplicator / OverTime</abbr></th>
                        <th><abbr title="Requested By">Requested By</abbr></th>
                        <th><abbr title="Status">Status</abbr></th>
                        <th><abbr title="Campaign">Campaign</abbr></th>
                        <th>Created At (UTC)</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th><abbr title="Request ID">Request ID</abbr></th>
                        <th><abbr title="User ID">User ID</abbr></th>
                        <th><abbr title="Start Date">Start Date</abbr></th>
                        <th><abbr title="Start Time">Start Time</abbr></th>
                        <th><abbr title="End Date">End Date</abbr></th>
                        <th><abbr title="End Time">End Time</abbr></th>
                        <th><abbr title="Activity">Activity</abbr></th>
                        <th><abbr title="Multiplicator / OverTime">Multiplicator / OverTime</abbr></th>
                        <th><abbr title="Requested By">Requested By</abbr></th>
                        <th><abbr title="Status">Status</abbr></th>
                        <th><abbr title="Campaign">Campaign</abbr></th>
                        <th>Created At (Local Time)</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    {% for post in profiles %}
                     <tr>
                                            <th>{{ post.Name}}</th>
                                            <td>{{ post.user_ID}}
                                            </td>
                                            <td>{{ post.Start_Date }}</td>
                                            <td>{{ post.Start_Time }}</td>
                                            <td>{{ post.End_Date }}</td>
                                            <td>{{ post.End_Time }}</td>
                                            <td>{{ post.Activity|default:"-" }}</td>
                                            <td>{{ post.Mul_Over|default:"-" }}</td>
                                            {% if 'Uknown' in post.BreakTime %}
                                            <td> Unknown User</td>
                                            {%else%}
                                            <td>{{ post.BreakTime|default:"-" }}</td>
                                            {%endif%}

                                            {% if 'Complete' in post.Status %}
                                            <div class="has-text-info">
                                                <td class="has-text-success">Complete</td>
                                            </div>
                                            {% elif 'Help Needed' in post.Status %}
                                            <div class="has-text-info">
                                                <td class="has-text-danger">Help Needed</td>
                                            </div>
                                            {% elif 'Activity Code' in post.Status %}
                                            <div class="has-text-info">
                                                <td class="has-text-dark">Bot - Activity Code selected</td>
                                            </div>
                                            {% elif 'Search' in post.Status %}
                                            <div class="has-text-info">
                                                <td class="has-text-dark">Bot - Search and validation</td>
                                            </div>
                                            {% elif 'Teleopti' in post.Status %}
                                            <div class="has-text-info">
                                                <td class="has-text-dark">Bot - Request acknowledged</td>
                                            </div>
                                            {% elif 'acknowledged' in post.Status %}
                                            <div class="has-text-info">
                                                <td class="has-text-dark">Bot - Request acknowledged</td>
                                            </div>
                                            {% elif 'Failed' in post.Status %}
                                            <div class="has-text-info">
                                                <td class="has-text-danger">Failed</td>
                                            </div>
                                            {% else %}
                                            <div class="has-text-danger">
                                                <td class="has-text-info">Submission recorded</td>
                                            </div>
                                            {% endif %}
                                            <td>{{ post.Timezone|default:"-" }}</td>
                                            {% load tz %}
                                            {% timezone "US/Pacific" %}
                                            <td>{{ post.created_at }}</td>
                                            {% endtimezone %}


                                        </tr>

                    {%endfor%}
                    </tbody>
                </table>

            </div>
        </div>
    </article>
</div>
</body>
{% endblock %}
