{% extends "mvp/base.html" %}
{% block title %}Upload via CSV{% endblock %}

{% block content %}

<body>
{% if messages %}
<ul class="notification">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|safe }}
    </li>
    {% endfor %}
</ul>
{% else %}
<ul class="notification">
    <li>
        {{order}}
    </li>
</ul>


<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <div class="container">
                    <!--    <div class="notification is-primary">-->
                    <div class="field is-grouped">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="field is-grouped">
                                <div class="control">
                                    {% csrf_token %}
                                    <input class='input is-info' type="file" id="file1" name="file">
                                </div>


                                <div class="control">
                                    <a
                                            href="https://docs.google.com/spreadsheets/d/19TgZ8lofb6iWlTMiLSMJ_voWTo3eBXXHLHhhZo_zrEM/edit?usp=sharing">OT
                                        template</a>
                                </div>

                                <div class="control">
                                    <a
                                            href="https://docs.google.com/spreadsheets/d/1DEyMuFIEu0u-vUyoTXeK-OW0gD2tgtWC_mVrL7SvzeU/edit?usp=sharing">TeleOpti
                                        template</a>
                                </div>

                                <div class="control">
                                    <button class="button is-info" type="submit">Upload</button>
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>
    </article>
</div>

{% endif %}
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">

                <div class="columns is-variable is-2-mobile is-0-tablet is-3-desktop is-8-widescreen is-1-fullhd">

                    <div class="column"><a class="bd-notification is-primary"
                                           href="{% url 'hello_mvp'  %}">Home
                        Page</a></div>


                    <div class="column"><a class="bd-notification is-primary"
                                           href="{% url 'data_view'  %}">Submissions
                        Page</a></div>

                </div>
            </div>
        </div>
    </article>
</div>
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th><abbr title="Request ID">Request ID</abbr></th>
                        <th><abbr title="User ID">User ID</abbr></th>
                        <th><abbr title="Start Date">Start Date</abbr></th>
                        <th><abbr title="Start Time">Start Time</abbr></th>
                        <th><abbr title="End Date">End Date</abbr></th>
                        <th><abbr title="End Time">End Time</abbr></th>
                        <th><abbr title="Activity">Activity</abbr></th>
                        <th><abbr title="Multiplicator / OverTime">Multiplicator / OverTime</abbr></th>
                        <!--                        <th><abbr title="Break Time">Break Time</abbr></th>-->
                        <th><abbr title="Status">Status</abbr></th>
                        <th><abbr title="Campaign">Campaign</abbr></th>
                        <th>Created At</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th><abbr title="Request ID">Request ID</abbr></th>
                        <th><abbr title="User ID">User ID</abbr></th>
                        <th><abbr title="Start Date">Start Date</abbr></th>
                        <th><abbr title="Start Time">Start Time</abbr></th>
                        <th><abbr title="End Date">End Date</abbr></th>
                        <th><abbr title="End Time">End Time</abbr></th>
                        <th><abbr title="Activity">Activity</abbr></th>
                        <th><abbr title="Multiplicator / OverTime">Multiplicator / OverTime</abbr></th>
                        <!--                        <th><abbr title="Break Time">Break Time</abbr></th>-->
                        <th><abbr title="Status">Status</abbr></th>
                        <th><abbr title="Campaign">Campaign</abbr></th>
                        <th>Created At</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    {% for post in profiles %}

                    <tr>
                        <th>{{ post.Name}}</th>
                        <td>{{ post.user_ID}}
                        </td>
                        <td>{{ post.Start_Date }}</td>
                        <td>{{ post.Start_Time }}</td>
                        <td>{{ post.End_Date }}</td>
                        <td>{{ post.End_Time }}</td>
                        <td>{{ post.Activity|default:"-" }}</td>
                        <td>{{ post.Mul_Over|default:"-" }}</td>
                        <!--                        <td>{{ post.BreakTime|default:"-" }}</td>-->
                        {% if 'Complete' in post.Status %}
                        <div class="has-text-info">
                            <td class="has-text-success">Complete</td>
                        </div>
                        {% elif 'elp' in post.Status %}
                        <div class="has-text-info">
                            <td class="has-text-danger">Help Needed</td>
                        </div>
                        {% elif 'ecided' in post.Status %}
                        <div class="has-text-info">
                            <td class="has-text-danger">To be Decided</td>
                        </div>
                        {% else %}
                        <div class="has-text-danger">
                            <td class="has-text-info">In Progress</td>
                        </div>
                        {% endif %}
                        <td>{{ post.Timezone|default:"-" }}</td>
                        <td>{{ post.created_at }}</td>


                    </tr>

                    {%endfor%}
                    </tbody>
                </table>

            </div>
        </div>
    </article>
</div>
</body>
{% endblock %}
